.recipe-card {
  border: 2px solid black;
  border-radius: 10px;
  height: 300px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  width: 200px;
}

.recipe-card img {
  max-height: 70%;
  max-width: 100%;
  object-fit: contain;
}
