.recipe-card {
  box-shadow: 5px 5px 10px #8a8a8a;
  display: flex;
  height: 150px;
  margin: 10px;
  text-align: center;
  width: 330px;
}

.recipe-card button {
  background-color: transparent;
  border: none;
}

.img-container {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 130px;
}

.img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.recipe-card-content {
  height: 100%;
  text-align: start;
  width: 60%;
}

.name-button {
  margin-left: 12px;
  padding: 0;
  text-align: left;
}

.name-button h3 {
  color: darkred;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.share-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  float: right;
  margin: 5px;
}

.recipe-card-content h4 {
  color: #8a8a8a;
  font-size: 0.9em;
  margin: 5px auto 0 12px;
}

.recipe-done {
  margin: 5px auto 5px 12px;
}

.tag-container {
  align-items: center;
  display: flex;
  height: 22%;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.tag {
  background-color: darkred;
  box-shadow: 5px 5px 10px #8a8a8a;
  color: white;
  margin: auto;
  text-align: center;
  padding: 2px;
  width: 40%;
}
