div.footer {
  background-color: #8a8a8a;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
}